/* .vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.has-sub > a:after {
   top: 45px !important;
} */

.offcanvas-end {
    width: 35% !important;
}

div.table-responsive > div.dataTables_wrapper > div.row {
    padding: 0px 17px;
}

.invalid-feedback {
    display: block;
    color: rgb(247, 67, 67);
    font-size: 13px;
}

.toast {
    z-index: 99999999999999999 !important;
}

.dashed-box {
    border: 2px dashed #ccc;
    height: 200px;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.dashed-box img {
    object-fit: cover;
    max-width: 100%;
}

.dis-non {
    display: none;
}

.nested-sortable ul {
    list-style-type: none;
    padding-left: 20px;
    /* Ensure ul has a minimum height and width for better dragging */
    min-height: 20px;
    position: relative;
}

.nested-sortable li {
    margin-bottom: 5px;
    margin-top: 8px;
    /* Ensure li has enough padding to be draggable */
    padding: 5px;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: move; /* Change cursor to 'move' to indicate draggable */
    min-height: 20px;
    max-width: 382px;
}

.item-details {
    border-top: none;
    padding: 10px;
    background-color: #f1f1f1;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease, padding 0.3s ease;
}

.item-details.expanded {
    height: auto;
    padding: 10px;
    max-width: 382px !important;
    border: 1px solid #ccc;
    background: white;
}

.item-details.collapsed {
    height: 0;
    padding: 0 10px;
}

.item-details label {
    display: block;
    margin-bottom: 10px;
}

.item-details .move-options a,
.item-details .original a,
.item-details .remove-cancel a {
    display: inline-block;
    margin-right: 10px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.original {
    margin-top: 10px;
}

.item-details .remove-cancel {
    margin-top: 5px;
    font-size: 13px;
}

.sub-item {
    font-size: 0.9em;
    color: gray;
    margin-left: 5px;
}

.nested-sortable li.dragging .item-header {
    opacity: 0.5;
    /* Apply styles to indicate dragging */
}

.g-10 {
    gap: 10px;
}

.g-20 {
    gap: 20px;
}

.sorting-boxs {
    display: grid;
    cursor: grab;
    grid-template-columns: 40px 1fr 100px;
    margin-bottom: 5px;
    padding: 5px;
    box-shadow: -1px 10px 26px -9px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: -1px 10px 26px -9px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: -1px 10px 26px -9px rgba(0, 0, 0, 0.06);
}

.sorting-boxs div {
    display: flex;
    align-items: center;
}


.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}


.sorting-boxs-option-outer {
    margin-left: 50px;
    padding-left: 20px;
    border-left: 1px solid var(--hover);
}

.sorting-boxs-option-box {
    display: grid;
    cursor: grab;
    grid-template-columns: 40px 1fr 100px;
    margin-bottom: 5px;
    padding: 5px;
    box-shadow: -1px 10px 26px -9px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: -1px 10px 26px -9px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: -1px 10px 26px -9px rgba(0, 0, 0, 0.06);
}

.sorting-boxs-outer {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 25px;
    background: #ffffff;
}

.sorting-boxs-outer:hover {
    transform: translate(-0.1rem, -1ex);
    transition: all 0.5s ease-in-out;
}


.cat-menu {
    list-style: none;
    margin: 5px 0px;
}
.ad-btn {
    background: #938cd0;
    padding: 4px 8px;
    color: white !important;
}

.ad-btn:hover {
    background: #7165dd;
    padding: 4px 8px;
    color: white !important;
}
.rem-btn {
    background: #ff9898;
    padding: 4px 8px;
    color: white !important;
    width: 25px;
}

.rem-btn:hover {
    background: red;
    padding: 4px 8px;
    color: white !important;
    width: 25px;
}


.media-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.media-image-holder {
    padding: 10px;
    border: 1px solid #f0f0f0;
    min-height: 150px;
    position: relative;
}

